*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-block-size: 8vh;
    background-color: rgba(0, 0, 0, 0.11);
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: rgba(0, 0, 0, 0.699);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-link{
    display: flex; 
    justify-content: space-around;
    width: 30%;
}

.nav-link li{
    list-style: none;
}

.nav-link a{
    color: rgba(0, 0, 0, 0.699);
    text-decoration: none; 
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.699);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger{
    display: none;
    cursor: pointer;
}

@media screen and (max-width:1024px){
    .nav-link{
        width: 60%;
    }
    
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-link{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(0, 0, 0, 0.11);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-link li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}